body {
    font-family: sans-serif;
}

header {
    float:left;
    width:125px;
    height:100%;
    border-right:1px solid;
    position:fixed;
}
#logopic {
    margin-left: 45px;
    width:40px;
    height:40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    list-style-type:none;

}
li {
    margin-bottom: 10px;
    margin-right:20px ;
    text-align: right;
    font-family:sans-serif ;
    font-size:14px;
    color:#acacac;
}

aside {
    padding-left: 2%;
    padding-right: 2%;
    float:left;
    width:28%;
    border-left:1px solid black;
    border-right:1px solid black;
    color:#acacac;
}
#asidemain {
    margin-top:0;
    padding-right: 5px;
    width:88% ;
    border-right: 1px solid black;
}
#content {
    margin-left:130px;
    float:left;
    width:55%;
}
#articles {
    padding:15px;
    margin:auto;
    width:530px;
    font-family: 'Droid Sans Mono', ;
    font-size: 1.2em ;
    font-stretch: ;
}
#articles:first-child:hover {
    color:#FF0000;
}
.articleauthor {
    color: #FF0000;
}
#contentheader {
    margin-left:10px;
    margin-top: 40px;
    width:60px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size:3.2em;
}


h1 {
    margin-top: 60px;
    margin: auto;
}